# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Entorno virtual
# ===============================
venv/

# ===============================
# Variables de entorno
# ===============================
.env

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Sistema operativo
# ===============================
.DS_Store
Thumbs.db