#products button {
    height: 120px;
    font-size: 22px;
    font-weight: bold;
    white-space: pre-line;
}

#orderList li {
    font-size: 18px;
}

@media (max-width: 768px) {
    #products button {
        height: 140px;
        font-size: 24px;
    }

    h3, h4 {
        font-size: 22px;
    }
}
